@model DotnetCsp.Models.ClientPackageAdd

@{
    ViewData["Title"] = "AddClient";
}

<h2>AddClient</h2>

<h4>ClientPackageAdd</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddClient">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Source" class="control-label"></label>
                <input asp-for="Source" class="form-control" />
                <span asp-validation-for="Source" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OnlyFiles" class="control-label"></label>
                <input asp-for="OnlyFiles" class="form-control" />
                <span asp-validation-for="OnlyFiles" class="text-danger"></span>
            </div>
            <input asp-for="PackageId" type="hidden" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
