@model DotnetCsp.Models.ServerPackageAdd

@{
    ViewData["Title"] = "AddServer";
}

<h2>AddServer</h2>

<h4>ServerPackageAdd</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddServer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PackageName" class="control-label"></label>
                <input asp-for="PackageName" class="form-control" />
                <span asp-validation-for="PackageName" class="text-danger"></span>
            </div>
            <input asp-for="PackageId" type="hidden" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
